asgiref==3.8.1
decouple==0.0.7
dir-tree==0.0.2
distlib==0.3.8
Django==5.0.6
django-widget-tweaks==1.5.0
filelock==3.15.4
invoke==2.2.0
mysqlclient==2.2.4
numpy==2.1.1
numpy-stl==3.1.2
platformdirs==4.2.2
python-decouple==3.8
python-utils==3.8.2
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
virtualenv==20.26.3
watchdog==4.0.2
