{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Recuperar Contraseña</h2>
            <form method="post">
                {% csrf_token %}
                
                <div class="mb-4">
                    <div class="form-group col-12 col-lg-6 mx-auto">
                        <label for="email">Correo electrónico:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico" required>
                        <button type="submit" class="btn btn-primary btn-block mt-4">Enviar</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
